# Component X
This notebook will explore the SCANIA Component X dataset.

We start by exploring the dataset. Next we will transform the data to remove any missing values, add and remvoe features. Finally a model that will predict the maintenance needs for the X-component.

[Paper at arXiv](https://arxiv.org/abs/2401.15199)

[Dataset can be downloaded here](https://stockholmuniversity.app.box.com/s/anmg5k93pux5p6decqzzwokp9vuzmdkh)

Place the data files in the folder /data/

In [2]:
#Includes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Read the raw data
tteTrain = pd.read_csv('../data/train_tte.csv')
specificationsTrain = pd.read_csv('../data/train_specifications.csv')
readoutsTrain = pd.read_csv('../data/train_operational_readouts.csv')

In [5]:
#See what is in the data
tteTrain.head()

   vehicle_id  length_of_study_time_step  in_study_repair
0           0                      510.0                0
1           2                      281.8                0
2           3                      293.4                0
3           4                      210.0                0
4           5                      360.4                0

In [6]:
specificationsTrain.head()

   vehicle_id Spec_0 Spec_1 Spec_2 Spec_3 Spec_4 Spec_5 Spec_6 Spec_7
0           0   Cat0   Cat0   Cat0   Cat0   Cat0   Cat0   Cat0   Cat0
1           2   Cat0   Cat1   Cat1   Cat0   Cat0   Cat0   Cat0   Cat1
2           3   Cat0   Cat1   Cat1   Cat1   Cat0   Cat0   Cat0   Cat1
3           4   Cat0   Cat0   Cat2   Cat1   Cat0   Cat0   Cat0   Cat1
4           5   Cat0   Cat2   Cat2   Cat0   Cat0   Cat0   Cat0   Cat1

In [7]:
readoutsTrain.head()

,vehicle_id,time_step,171_0,666_0,427_0,837_0,167_0,167_1,167_2,167_3,...,397_26,397_27,397_28,397_29,397_30,397_31,397_32,397_33,397_34,397_35
0,0,11.2,167985.0,10787.0,7413813.0,2296.0,4110.0,1296420.0,1628265.0,630345.0,...,95728.0,15609.0,1984.0,8.0,784.0,150228.0,261904.0,93172.0,17874.0,452.0
1,0,11.4,167985.0,10787.0,7413813.0,2296.0,4111.0,1302855.0,1628265.0,630345.0,...,95729.0,15610.0,1984.0,8.0,784.0,150228.0,261905.0,93172.0,17874.0,452.0
2,0,19.6,331635.0,14525.0,13683604.0,2600.0,NaN,NaN,NaN,NaN,...,142900.0,19263.0,2441.0,12.0,1420.0,204832.0,313485.0,106464.0,19306.0,452.0
3,0,20.2,354975.0,15015.0,14540449.0,2616.0,NaN,NaN,NaN,NaN,...,150565.0,19832.0,2522.0,12.0,1444.0,211688.0,318901.0,107745.0,19406.0,453.0
4,0,21.0,365550.0,15295.0,14966985.0,2720.0,NaN,NaN,NaN,NaN,...,155913.0,20573.0,2562.0,12.0,1445.0,213956.0,323997.0,109514.0,19535.0,454.0